body, html {
    padding: 0;
    margin: 0;
}

.fleche {
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%; }

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 10px black solid;
  border-bottom: 10px black solid; }

.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 5px black solid;
  border-bottom: 5px black solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow; }

@keyframes arrow {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px); } }

.parallax {
    /* Votre image */
    background-image: url("/asset/chalet.jpg");
    /* Une hauteur variable */
    height: 100vh;
    /* L'effet de parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container1{
    width: 100%;
    display: flex;
    height: 100vh;
    color: black;
    padding-bottom: 0px;
}

.home{
    width: 100%;
    text-align: center;
    margin-top: 10%;
    display: fl;
}

.title_home{
    display: inline-block;
    margin: 0;
    /* width: fit-content; */
}

.title{
    left: 0;
    width: fit-content;
    font-size: 800%;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.first_line{
    display: flex;
    flex-direction: row;
    width: 150%;
}

.zoom {
    width: 320px;
    /* height: 200px; */
}

.image {
    width: 100%;
    background-size:contain;
}

.image img {
    -moz-transition: all 1s ease; /* Firefox */
    transition: all 1s ease;
}

.image:hover img {
    /* L'image est grossie de 25% */
    -moz-transform:scale(1.25); /* Firefox */
    transform:scale(1.25);
}

.img_menu{
    margin-left: 20%;
    border-radius: 20px;
    border: 5px solid black;
    width: 120%;
    height: 150px;
}

.all_project{
    margin-left: 40%;
}
